.textOnImage {
    position: relative;
}

.text {
    font-weight: bold;
    z-index: 2;
    position: absolute;
    left: 5%;
    bottom: 1%;
}
.text > h2,h5 {
  color:white;
}

.hide {
    display: none;
}

.colorOverlay {
    font-weight: bold;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0,0,0, 0.9));
}
