{% extends 'base.html' %}


{% block body_block %}
  <br/><br/><br/>
  {% if errMsg != "" %}
    <div class="alert alert-danger" role="alert">{{ errMsg }}</div>
  {% elif warnMsg != "" %}
    <div class="alert alert-warning" role="alert">{{ warnMsg|safe }}</div>
  {% elif success != "" %}
    <div class="alert alert-success" role="alert">{{ success|safe }}</div>
  {% endif %}
  <div class="panel panel-info">
    <div class="panel-heading">
      Info
    </div>
    <div class="panel-body">
      TitleFR and ImageFR need to be filled.<br />
      TitleTW is needed if ImageTW exists.
    </div>
  </div>
  <form id = "comic_form" method="post" action="/createcomic" enctype="multipart/form-data">
  {% csrf_token %}
  <br />
  <div class="form-inline">
    Author :
    <select name="author">
    {% for user in users %}
    <!-- Set THK as default comic's author -->
      {% if user.name == "THK" %}
      <option value = {{user.id}} selected> {{ user }}</option>
      {% else %}
      <option value = {{user.id}}> {{ user }}</option>
      {% endif %}
    {% endfor %}
    </select>
    Numéro :
    <select name="numero">
    {% for numero in numeros %}
      {% if numero.numero == currentNumero %}
      <option value="{{numero.id}}" selected> {{ numero.numero }}</option>
      {% else %}
      <option value="{{numero.id}}"> {{ numero.numero }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </div>
  <br />

  <div class="col-md-5">
    <div class="form-group">
      <label class="sr-only" for="titleFR">TitleFR : </label>
      TitleFR : <input id="titleFR" class="form-control" type="text" placeholder="Title" name="titleFR" maxlength="128" value="">
    </div>
    ImageFR:
    <p><input type='file' name='imgfileFR'> </p>
    <p>ContentFR :</p>
    <textarea id="comicFR" class="tiny" type="text" name="contentFR" cols ="40" rows="10"} >{{article.abstract}} </textarea>
  </div>

  <div class="col-md-5 col-md-offset-2">
    <div class="form-group">
      <label class="sr-only" for="titleTW">TitleTW : </label>
      TitleTW : <input id="titleTW" class="form-control" type="text" placeholder="Title" name="titleTW" maxlength="128" value="">
    </div>
      ImageTW:
    <p><input type='file' name='imgfileTW'> </p>
    <p>ContentTW : </p>
    <textarea id="comicTW" class="tiny" type="text" name="contentTW" cols ="40" rows="10"} >{{article.content}} </textarea>
  </div>
  <div class="col-md-12">
    <br />
    <br />
    <center><input type="submit" name="submit" value="Add Comic"></center>
  </div>
  </form>

<script>
       $(".FR").click(function(){
         $.ajax({
            type:"POST",
            url:"/session_language/",
            data: { language:'fr', csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(){
            }
         });
        });
      $(".TW").click(function(){
        $.ajax({
            type:"POST",
            url:"/session_language/",
            data: { 'language':'tw', csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(){
            }
        });
     });
</script>
{% endblock %}
