{% extends 'adminArticle_base.html' %}
{% block articleForm_block %}
  {% if currentArticle %}
    <form id = "article_form" method="post" action="/{{currentCategory}}/article/{{currentArticle.slg}}/edit" enctype="multipart/form-data">
  {% else %}
    <form id = "article_form" method="post" action="/createarticle" enctype="multipart/form-data">
  {% endif %}
{% endblock %}
{% block adminArticle_block %}
  <div class="col-md-12">
    <p>Abstract :</p>
    <textarea id="newAbstract" type="text" name="abstract" cols ="80" rows="10"} >{{currentArticleContent.abstract}} </textarea>
    <p>Content : </p>
    <textarea id="newContent" class="tiny" type="text" name="content" cols ="80" rows="30"} >{{currentArticleContent.content|safe}} </textarea>

	<button type="submit" class="btn btn-default">Save</button>
</form>
</div>
</div>

<script>
$(document).ready(function(){
  $('#language').change(function(){
    var language = $('#language option:selected').val();
    if (language == 'tw') {
      $('#category_tw').show();
      $('#category_fr').hide();
    }
    else {
      $('#category_fr').show();
      $('#category_tw').hide();
    }
  });

  $('#toggleGallery').click(function () {
    $("#articleGallery").toggle();
  });
  $('#toggleAuthor').click(function () {
    $("#authorSelectDiv").toggle();
  });
  $('#toggleTimeline').click(function () {
    $("#mytimeline").toggle();
    timeline.redraw();
  });
});
</script>
{% endblock %}
