{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<!-- url of this page: /no/:id-->
<div class="col-md-8 col-md-offset-2">
  <h1><a href="/"><img src="{% static "img/logo_small.png" %}" height="50px"></a> | {{numero}}</h1>
  
  <div>
    <dl class="dl-horizontal">
        <dt><a href="/comics/{{comic.article.slg}}">{{comic}}</a></dt>
        <dd>{{comic.article.category}}</dd>
      {% for article in articles %}
        <dt><a href="/{{article.article.category}}/article/{{article.article.slg}}">{{article}}</a></dt>
        <dd>{{article.article.category}}</dd>
      {% endfor %}
    </dl>
  </div>

<div class="col-md-12">
  <center>
    <h2>
      {% if  request.session.language == "fr" %} Édito 
      {% elif request.session.language == "tw" %} 編者序
      {% endif %}
    </h2>
  </center>
  {{edito.content|safe}}
</div>
</div>
{% endblock %}
