{% extends 'article_base.html' %}
{% block title_block %}{{article.title}}{% endblock %}
{% block article_content %}
{% load static %}
{% load afTags %}

<div>
  <h3 style="color:{{category.category.color}}">{{category.title}}</h3>
  <strong><h1>{{article.title}}</h1></strong>
  <h3>{{article.subtitle}}</h3>
  {% if user.is_staff or user.userprofile in authors %}
    <a href="{{article.article.slg}}/status"><span class="glyphicon glyphicon-info-sign"></span></a>
    <a href="{{article.article.slg}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
    <span class="glyphicon glyphicon-trash" onclick="deleteArticle('article',{{article.id}})"></span>
  {% endif %}
  <h5>{% for author in authors %} <a href="{% url "authorArticle" author.slg %}"  style="color:black">{{author.name}} </a>{% endfor %}</h5>
    <a href="/"><img src="{% static "img/logo_small.png" %}" width="10px" height="20px"></a> |
    <a href="/no/{{article.article.numero}}" style="color:black">{{article.article.numero|numeroBar}}</a>
    <span class="glyphicon glyphicon-time"></span> Posted on {{article.article.date}}
  <br>
  {% if article.article.timeline %}
  <div id="mytimeline" class="col-md-10 col-md-offset-1" data-action="read" data-value="{{article.article.timeline.id}}"></div>
  <p class='col-md-10 col-md-offset-1' id="info"></p>
  {% endif %}
  <div class='col-md-12'>
  <br>
    {{article.content|safe}}
  </div>
</div>
{% endblock %}
