{% extends 'base.html' %}


{% block body_block %}

  <form id = "article_form" method="post" action="/createarticle">
  {% csrf_token %}
    Title : <input id="title" type="text" name="title" maxlength="128" value="{{article.title}}"> 
    Language : <select id='language'> <option value='fr' selected> FR </option><option value='tw'>TW</option></select>
    Numéro : 
    <select>
    {% for numero in numeros %}
      <option> {{ numero.numero }}</option>
    {% endfor %}
    </select>
    Catégorie :
    <select id='category_fr'>
    {% for category in categoryFR %}
      <option> {{ category.title }}</option>
    {% endfor %}
    </select>
    <select id ='category_tw' style='display:none'>
    {% for category in categoryTW %}
      <option> {{ category.title }}</option>
    {% endfor %}
    </select>
    <p>Abstract :</p>     
    <textarea id="newAbstract" type="text" name="content" cols ="80" rows="20"} >{{article.abstract}} </textarea>
    <p>Content : </p>
    <textarea id="newContent" type="text" name="content" cols ="80" rows="20"} >{{article.content}} </textarea>
	
	<input type="submit" name="submit" value="Create Article">
</form>
<script>
$(document).ready(function(){
  $('#language').change(function(){
    var language = $('#language option:selected').val();
    if (language == 'tw') {
      $('#category_tw').show();
      $('#category_fr').hide();
    }
    else {
      $('#category_fr').show();
      $('#category_tw').hide();
    }
  });
});
</script>
{% endblock %}
