{% extends 'base.html' %}


{% block body_block %}

  <form id = "article_form" method="post" action="/createarticle">
  {% csrf_token %}
    Title : <input id="title" type="text" name="title" maxlength="128" value="{{article.title}}"> 
    Language : <select> <option value='fr' selected> FR </option><option value='tw'>TW</option></select>
    Numéro : 
    Catégorie :
    <p>Abstract :</p>     
    <textarea id="newAbstract" type="text" name="content" cols ="80" rows="20"} >{{article.abstract}} </textarea>
    <p>Content : </p>
    <textarea id="newContent" type="text" name="content" cols ="80" rows="20"} >{{article.content}} </textarea>
	
	<input type="submit" name="submit" value="Create Article">
</form>
{% endblock %}
