{% extends "base.html" %}
  {% load static %}

{% block header_block %}
  <header  style="background-image: url({{headerImage.imgfile.url}})" class="header-index" >
{% endblock header_block %}


{% block body_block %}


      <!-- Blog Post Content Column -->
<div class="col-md-12" style="top:2%;height:30%">
      <div class="col-md-8 fixHeight ">
        <a href="/{{headlineCat.category}}/article/{{headline.article.slg}}">
          <div class="textOnImage">
            <div class="text">
              <h3><strong>{{headline}}</strong></h3>
              <h5>{{headline.abstract}}</h5>
              <h4><strong style="color:{{headline.article.category.color}}; ">▍</strong>{{headlineCat}}</h4>
            </div>
            <div class="colorOverlay"></div>
            <img src="{{headline.article.image.imgfile.url}}" width="100%" height="100%">
          </div>
        </a>
      </div>
      <div class="col-md-4 fixHeight">
        <a href="/{{newestArticle1Cat.category}}/article/{{newestArticle1.article.slg}}">
          <div class="textOnImage fixHeight">
            <div class="text">
              <h3><strong>{{newestArticle1}}</strong></h3>
              <h4><strong style="color:{{newestArticle1.article.category.color}}; ">▍</strong>{{newestArticle1Cat}}</h4>
            </div>
            <div class="colorOverlay"></div>
            <img src="{{newestArticle1.article.image.imgfile.url}}" width="100%" height="100%">
          </div>
        </a>
      </div>
</div>
<div class="col-md-12" style="top: 4%;height:30%">
      <div class="col-md-4 fixHeight">
        <a href="/{{newestArticle2Cat.category}}/article/{{newestArticle2.article.slg}}">
          <div class="textOnImage fixHeight">
            <div class="text">
              <h3><strong>{{newestArticle2}}</strong></h3>
              <h4><strong style="color:{{newestArticle2.article.category.color}}; ">▍</strong>{{newestArticle2Cat}}</h4>
            </div>
            <div class="colorOverlay"></div>
            <img src="{{newestArticle2.article.image.imgfile.url}}" width="100%" height="100%">
          </div>
        </a>
      </div>

      <div class="col-md-4 fixHeight">
        <a href="/{{newestArticle3Cat.category}}/article/{{newestArticle3.article.slg}}">
          <div class="textOnImage fixHeight">
            <div class="text">
              <h3><strong>{{newestArticle3}}</strong></h3>
              <h4><strong style="color:{{newestArticle3.article.category.color}}; ">▍</strong>{{newestArticle3Cat}}</h4>
            </div>
            <div class="colorOverlay"></div>
            <img src="{{newestArticle3.article.image.imgfile.url}}" width="100%" height="100%">
          </div>
        </a>
      </div>
      <div class="col-md-4 fixHeight">
        <a href="/comics/{{comicArticle.article.slg}}">
          <div class="textOnImage fixHeight">
            <div class="text">
              <h3><strong>{{comicArticle.title}}</strong></h3>
              {% if request.session.language = "fr" %}
                <h4><strong style="color:{{comicArticle.article.category.color}}; ">▍</strong>Bande Dessinée</h4>
              {% elif request.session.language = "tw" %}
                <h4><strong style="color:{{comicArticle.article.category.color}}; ">▍</strong>漫畫</h4>
              {% endif %}
            </div>
            <div class="colorOverlay"></div>
            <img src="{{comicArticle.image.imgfile.url}}" width="100%" height="100%">
          </div>
        </a>
      </div>
</div>
      <!-- Blog Sidebar Widgets Column -->




    <!-- <p class="col-lg-8 col-lg-offset-2 text-center">Ici les slides</p> -->
    <div class="col-md-12 row well" style="top:10%">

      {% for numero in numeros.reverse|slice:":6"%}
      <div class="col-md-2 text-center">
        <a href="/no/{{numero}}" title="numero {{numero}}">
          <img width="100%" src="{{numero.image.imgfile.url}}">
        </a>
      </div>
      {% endfor %}
    </div>
{% endblock %}
