{% extends 'admin_base.html' %}
{% block admin_block %}
<div class="col-md-12">
  {% block articleForm_block %} {% endblock%}
  {% csrf_token %}
  <div id="titleInput" class="form-group has-feedback">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" class="form-control" aria-describedby="titleStatus" maxlength="64" oninput="checkTitleValidity(this)" value="{{currentArticle.title}}">
    <span class="glyphicon glyphicon-ok form-control-feedback titleValided" aria-hidden="true"></span>
    <span class="sr-only titleValided">(success)</span>
    <label class="control-label titleValided" for="title">Valided title</label>
    <span class="glyphicon glyphicon-remove form-control-feedback titleError" aria-hidden="true"></span>
    <span class="sr-only titleError">(error)</span>
    <label id="titleErrorMsg" class="control-label titleError" for="title"></label>
  </div>
  <p>
    Image:
    {% if currentArticle.image %}
      <a title="" href="#" onmouseover="tooltipArchiveImg(this)" onmouseout="closeTooltip(this)" value="{{currentArticle.image.imgfile_s.url}}">{{currentArticle.image}}</a></p>
    {% endif %}
    <input type='file' name='imgfile'>
  </p>

    <!-- Here is for gallery, toggle when click triangle -->
    <p>Gallery:
    {% if currentGallery %}
      {% for img in currentGallery %}
        <a title="" href="#" onmouseover="tooltipArchiveImg(this)" onmouseout="closeTooltip(this)" value="{{img.imgfile_s.url}}">{{img}}</a>
      {% endfor %}
    {% endif %}
      <span id="toggleGallery" class="glyphicon glyphicon-triangle-bottom"></span></p>
      <div id="articleGallery" class="col-md-offset-1" style="display:none">
        {{ formset.management_form }}
        {% for form in formset %}
          <br/>
          {{ form }}
        {% endfor %}
      </div>

    <!-- End for gallery -->
    <p>
      Author : <span id="authorList"></span><span id="toggleAuthor" class="glyphicon glyphicon-triangle-bottom"></span></p>
      <div id="authorSelectDiv" style="display:none">
        <select name="author" multiple="multiple" id="authorSelect" name="my-select[]">
        {% for user in users %}
          <option value = {{user.id}} {% if user in currentAuthors %} selected {% endif %}> {{ user }}</option>
        {% endfor %}
        </select>
      </div>
    </p>
    <p>

      Language : <select id='language' name="language">
        {% for lang in LANGUAGES %}
          <option value="{{lang.0}}" {% if lang.0 == "fr" %} selected {% endif %}> {{lang.1}} </option>
        {% endfor %}
        </select>
      Numéro :
      <select name="numero">
      {% for numero in numeros %}
        <option value="{{numero.id}}" {% if numero == currentNumero %} selected {% endif %}> {{ numero.numero }}</option>
      {% endfor %}
      </select>
      Catégorie :
      <select id='category_fr' name="categoryFR">
      {% for category in categoryFR %}
        {% if category.category == currentCategory %}
        <option value="{{category.category.id}}" selected> {{ category }}</option>
        {% else %}
        <option value="{{category.category.id}}"> {{ category }}</option>
        {% endif %}
      {% endfor %}
      </select>
      <select id ='category_tw' style='display:none' name="categoryTW" {% if currentArticle %} disabled {% endif %}>
      {% for category in categoryTW %}
        <option value="{{category.category.id}}"> {{ category }}</option>
      {% endfor %}
      </select>
    </p>
    <p>
      <label class="checkbox-inline">
        <input type="checkbox" name="isEdito" {% if edito %} checked {% endif %}> Is Edito
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="isHeadline" {% if headline %} checked {% endif %}> Is Headline
      </label>
    </p>
    <!-- This block is for timeline setting -->
    <p>Choose timeline event : <span id="eventSelected">{{timelineDetail}}</span>
      <span id="toggleTimeline" class="glyphicon glyphicon-triangle-bottom"></span></p>
      <input type="hidden" id="timeline_event_input" name="timeline" value="{{timeline}}">
      <div id="mytimeline" style="display:none" data-action="select" data-value="{{timeline}}"></div>
  </div>
  {% block adminArticle_block %}
  {% endblock %}
{% endblock %}
