{% extends 'base.html' %}
{% block category_block %}
  <div class="col-md-9 col-md-offset-2">
    <ul class="nav navbar-nav col-md-12">
      {% for cat in categories %}
        <li class="" style="width:10%">
          <h4>
            <a class = "category"
              {% if cat == category %}
                style="color:{{category.category.color}}"
              {% else %}
                style="color:rgba(0,0,0,.5)"
              {% endif %}
              onmouseover="changeColor(this,'{{cat.category.color}}')" onmouseout="returnColor(this)" href="/{{cat.category}}"> {{cat.title}} </a>
          </h4>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock  %}

{% block body_block %}
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        {% block article_content %} {% endblock %}
      </div>
      <div class="col-md-8 col-md-offset-2">
      <hr>
        <ul class="list-unstyled list-inline">
        {% for article in articleRelated %}
          <li class="col-md-3"><div class ="thumbnail"><center><a href="#">{{ article.title }}</a></center><img src="{{ article.article.image.imgfile.url }}"></div></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
