<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title_block %}Aurore Formosane{% endblock %}</title>

  <link rel="icon" href="{% static "img/logoS.png" %}">
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css">
  <link href="{% static "css/modern-business.css" %}" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static "css/creative.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/timeline.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- jQuery -->
  <script src="{% static "js/jquery.js" %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/timeline.js" %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static "js/jquery.easing.min.js" %}"></script>
  <script src="{% static "js/jquery.fittext.js" %}"></script>
  <script src="{% static "js/wow.min.js" %}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="{% static "js/creative.js" %}"></script>
  <script src="{% static "js/jquerysession.js" %}"></script>
  <script src="{% static "js/functions.js" %}"></script>
  <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
  {{ form.media }}
  <script>
    tinymce.init({
        selector: '.tiny'
    });
  </script>
</head>

<body id="page-top" onload="drawVisualization()">


{% block header_block %}
  <header>
{% endblock header_block %}
    <nav id="mainNav" class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-inner">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="/"><img src="{% static "img/Logo.png" %}" height="30px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Admin </a>
              <ul class = "dropdown-menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/createcomic">Add Comic</a></li>
                <li><a href="/no/edit">Archive Detail</a></li>
                <li><a href="/createarticle">Create Article</a></li>
                <li><a href="/createuser">Create User</a></li>
                <li><a href="/timeline/edit">Timeline</a></li>
                <li><a href="/upload">Upload Image</a></li>
              </ul>
            </li>
            {% endif %}
            {% if language == "fr" %}
            <li>
              <a href="/about">A propos</a>
            </li>
            <li>
              <a href="/abonnement">Abonnement</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bibliothèque</a>
            {% elif language == "tw" %}
            <li>
              <a href="/about">關於黎島</a>
            </li>
            <li>
              <a href="/abonnement">訂閱/捐款</a>
            </li>
            <li>
              <a href="/contact">聯絡我們</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">檔案室</a>
            {% endif %}
                <ul class="dropdown-menu">
                {% for numero in numeros %}
                  <li><a href="/no/{{numero}}">{{numero}}</a></li>
                {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" style="color:black" data-toggle="dropdown">{{language}}</a>
              <ul class="dropdown-menu">
                  {% for lang in LANGUAGES %}
                    {% if lang.0 == language %}
                    {% else %}
                      <li><a id="btnLanguage" onclick="setLanguage('{{lang.0}}')" class="btn" style="color:#6E6E6E" >{{lang.0}}</a></li>
                    {% endif %}
                  {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="header-content">

      <div class="header-content-inner">

      </div>
    </div>

  </header>

{% block category_block %}
  <div class="col-md-9 col-md-offset-2">
    <ul class="nav navbar-nav col-md-12">
      {% for category in categories %}
        <li class="" style="width:10%">
          <h4>
            <a class = "category" style="color:rgba(0,0,0,.5)" onmouseover="changeColor(this,'{{category.category.color}}')" onmouseout="returnColor(this)" href="/{{category.category}}"> {{category.title}} </a>
          </h4>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock category_block %}
  <div class="container" style="height:100%">
        {% block body_block %} {% endblock %}
  </div>


{% block downpage_block %}
{% endblock downpage_block %}
<br>
<br>
<br>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <span>Copyright &copy; AF 2016</span>
                        {% if user.is_authenticated %}
                            <a href="/logout"><span class ="glyphicon glyphicon-log-out"></span></a>
                        {% else %}
                            <a id="login-btn" href="#"><span class ="glyphicon glyphicon-log-in"></span></a>
                        {% endif%}
                    </center>
                </div>
            </div>
        </footer>


    <!-- /.container -->


<div id="dialog" class="login-dialog" title="Log In">
    <form id="login_form" action="/login/" method="post">
        {% csrf_token %}
        <p> User: </p>
        <input id="username" name="username" type="text">
        <br/>
        <p> Password: </p>
        <input id="password" name="password" type="password">
        <br/>
        <input type="submit" value="Log In">
    </form>
</div>
<div id="popupMsg" class="popup"></div>
<script>
//Change category btm color when mouse over
  function changeColor (x,color) {
    $(x).css("color",color);
  }
  function returnColor (x) {
    $(x).css("color", "rgba(0,0,0,.5)");
  }
</script>
<script>
    var loginMsg = "{{loginMsg}}";
    if (loginMsg != "") {
        alert(loginMsg);
        window.location = "/";
        $("dialog").dialog(open);
    }
</script>
</body>

</html>
